
.listing-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
  border: thin solid black;
  padding: 5px;
}

.listing-container > :first-child {
  height: 80%;
}

.listing-container > * {
  margin: 5px;
}

.name-and-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  font-size: 20px;
}

.listing-name {
  font-size: 25px;
  font-weight: bold;
}

.num-owned {
  justify-self: flex-end;
  font-size: 40px;
  margin-right: 25px;
}
